.appWrap {
  border: 2px solid #155263;
  border-radius: 11px;
  margin: 100px auto;
  padding: 0px 10px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  max-width: 1000px;
  width: 100%;
}

.typeSpace {
  text-align: center;
  color: #7c7c7c;
  width: 65%;
  padding: 5px 30px;
  font-size: 20px;
  box-shadow: 5px 9px 16px rgba(0, 0, 0, 0.1);
  border: 2px solid #155263;
  border-radius: 11px;
  font-weight: bold;
}

#search-city-button {
  font-size: 15px;
  margin: 20px 5px;
  padding: 5.5px 30px;
  position: relative;
  bottom: 2px;
  left: 10px;
  font-weight: bolder;
  border: 2px solid #155263;
  border-radius: 11px;
  width: 15%;
}
#search-city-button:hover {
  background-color: #155263;
}

#current-location-button {
  font-size: 15px;
  margin: 20px 5px;
  padding: 5.5px 30px;
  position: relative;
  bottom: 2px;
  left: 10px;
  font-weight: bolder;
  border: 2px solid #155263;
  border-radius: 11px;
  width: 15%;
}
#current-location-button:hover {
  background-color: #155263;
}

h1 {
  color: #7c7c7c;
  font-size: 45px;
  font-weight: bolder;
  position: relative;
  top: 100px;
  left: 100px;
}
#weather-icon {
  width: 10%;
  position: relative;
  left: 420px;
  margin: 20px;
  top: 50px;
}
p {
  position: relative;
  bottom: 25px;
  left: 100px;
  color: #7c7c7c;
  font-size: 16px;
}

.col.temp {
  font-size: 50px;
  position: relative;
  bottom: 50px;
  left: 100px;
  color: black;
}
#units {
  font-size: 25px;
  position: relative;
  bottom: 100px;
  left: 155px;
}

li {
  list-style: none;
  font-size: 15px;
}

.data {
  color: #7c7c7c;
  position: relative;
  left: 750px;
  bottom: 200px;
}

a {
  text-decoration: none;
}
#forecast {
  text-align: center;
  margin-bottom: 50px;
}
#forecast-icon {
  width: 25px;
}
